---
title: My page title
layout: "linkinbio.ejs"
---

<% for(const link of Links) { %>
    <a target="_blank" href="<%= link.href %>"><button>
            <%= link.name %>
        </button></a>
    <% } %>